((# ATS-friendly single-column cover letter. #))
\documentclass[11pt,a4paper]{article}
\usepackage{iftex}
\ifPDFTeX
  \usepackage[T1]{fontenc}
  \usepackage[utf8]{inputenc}
  \usepackage{lmodern}
  \input{glyphtounicode}
  \pdfgentounicode=1
\else
  \usepackage{fontspec}
\fi
\usepackage[margin=0.9in]{geometry}
\usepackage[hidelinks]{hyperref}
\hypersetup{pdftitle={((( profile.name|tex ))) - Cover Letter - ((( letter.company|tex )))}, pdfauthor={((( profile.name|tex )))}}

\pagestyle{empty}
\setlength{\parindent}{0pt}
\setlength{\parskip}{10pt}
\raggedright

\begin{document}

{\Large\bfseries ((( profile.name|tex )))}\\
((( headline|tex )))\\
((( profile.contact )))  ((# pre-escaped in latex._profile #))


((( today|tex )))

Hiring Team\\
((( letter.company|tex )))

\textbf{Re: ((( letter.role|tex )))}

((( letter.greeting|tex )))

((* for p in letter.paragraphs *))
((( p|tex )))

((* endfor *))
((( letter.closing|tex )))\\[4pt]
((( profile.name|tex )))

\end{document}
